:host {
    width: 400px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    
    &__left {
        width: 60px;
        background-image: url(../../../assets/images/v2/NSX.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    &__middle {
        flex-grow: 1;
        width: 60px;
        background-image: url(../../../assets/images/v2/NMD.jpg);
        background-size: auto 100%;
    }
}

.middleContainer {
    flex-grow: 1;
    background-image: url(../../../assets/images/v2/texture.jpg);
    background-repeat: repeat;
    border-image-repeat: stretch;
    display: flex;
    justify-content: space-between;

    &__left {
        width: 60px;
        background-image: url(../../../assets/images/v2/MSX.jpg);
    }

    &__middle {
        flex-grow: 1;

        &__itemContainer {
            height: 100%;
            margin-right: 30px;
            display: flex;
            flex-direction: column;

            &__logoContainer {
                width: 100%;
                height: 60px;
                background-image: url(../../../assets/icons/logo.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }

            &__separatorContainer {
                width: 100%;
                height: 50px;
                background-image: url(../../../assets/images/v2/separator.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            &__campaignContainer {
                width: 100%;
                height: auto;
                font-family: Comfortaa-Regular;
                // background-color: coral;
                display: flex;
                flex-direction: column;

                &__upperBar {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    // background-color: yellow;

                    &__label {
                        // background-color: coral;
                        font-weight: 700;
                        color: #615549;
                    }

                    &__button {
                        width: 60px;
                        // background-color: red;
                        display: flex;
                        justify-content: center;
                        
                        &__icon {
                            width: 20px;
                            border-radius: 25px;
                            height: 100%;
                            // background-color: yellow;
                            background-image: url(../../../assets/icons/plus_icon.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;

                            &:hover {
                                background-color: #473e351c;
                            }

                            &:active {
                                background-color: #61554900;
                            }
                        }
                    }
                }

                &__campaignList {
                    min-height: 50px;
                    background-color: green;
                }

                // &__label{
                //     width: 50%;
                //     align-self: center;
                //     background-color: yellow;
                // }

                // &__button {
                //     width: 30px;
                //     background-color: gray;
                //     text-align: end;   
                // }
                
            }

        }

    }
}

.downContainer {
    background-color: aquamarine;
    height: 60px;
    display: flex;


    &__left {
        width: 60px;
        background-image: url(../../../assets/images/v2/SSX.jpg);
    }
    &__middle {
        flex-grow: 1;
        background-image: url(../../../assets/images/v2/SMD.jpg);
    }
}