<div class="topContainer">
    <div class="topContainer__left"></div>
    <div class="topContainer__middle"></div>
</div>
<div class="middleContainer">
    <div class="middleContainer__left"></div>
    <div class="middleContainer__middle">
        <div class="middleContainer__middle__itemContainer">
            <div class="middleContainer__middle__itemContainer__logoContainer"></div>
            <div class="middleContainer__middle__itemContainer__separatorContainer"></div>
        </div>
    </div>
</div>
<div class="downContainer">
    <div class="downContainer__left"></div>
    <div class="downContainer__middle"></div>
</div>